

<div class="col-xs-2" style="min-width: 317px;">
    <div class="row" style="border-right: 1px solid #BCCDD7;">

        <div class="left-title col-xs-12">
            <div class="col-xs-7">主菜单</div>
            <div class="col-xs-5 text-right">
                <span class="left-title-right">公司</span>
                <span> / 年份</span>
            </div>
        </div>

        <div class="col-xs-12" style="padding-top: 15px;">
            <ul class="company-name">
                <li><em class="icon-product">&#xe604;</em>安徽分公司<em class="icon-right-sj">&#xe605;</em></li>
                <li>合肥分公司</li>
                <li>南昌分公司</li>
                <li>南京分公司</li>
                <li>苏州分公司</li>
                <li>上海分公司</li>
            </ul>
        </div>
    </div>
</div>

