
<div class="cn-alert-content">
    <form id="addOrUpdate" data-parsley-validate="" class="form-horizontal form-label-left " novalidate="">

        <input type="hidden" name="id" #if($bean)value="$bean.id"#end>
        <div class="form-group cn-alert-div">
            <label class="control-label  col-xs-5" for="name">名称 <span class="required">:</span>
            </label>
            <div class="col-xs-6">
                <input type="text" id="name" required="required" #if($bean)value="$bean.name"#end name="name" class=" cn-alert-input col-md-7 col-xs-12" data-parsley-id="4639"><ul class="parsley-errors-list" id="parsley-id-4639"></ul>
            </div>
        </div>

        <div class="form-group cn-alert-div">
            <label class="control-label  col-xs-5" for="address">地址 <span class="required">:</span>
            </label>
            <div class="col-xs-6">
                <input type="text" id="address" required="required" #if($bean)value="$bean.address"#end  name="address" class="cn-alert-input col-md-7 col-xs-12" data-parsley-id="4639"><ul class="parsley-errors-list" id="parsley-id-7639"></ul>
            </div>
        </div>

        <div class="form-group cn-alert-div">
            <label class="control-label  col-xs-5" for="ownerShip">所有制 <span class="required">:</span>
            </label>
            <div class="col-xs-6">

                <select id="ownerShip"  required="required" name="ownerShip" class="cn-alert-select col-xs-7" data-parsley-id="0004">
                    <option value="" >请选择</option>
                    <option value="LimitedCompany" #if($bean.ownerShip=="LimitedCompany") selected="selected" #end>有限公司</option>
                    <option value="PrivateEnterprise" #if($bean.ownerShip=="PrivateEnterprise") selected="selected" #end>民营企业</option>
                    <option value="SOE" #if($bean.ownerShip=="SOE") selected="selected" #end>国有企业</option>
                </select>
            </div>
        </div>

        <div class="form-group cn-alert-div">
            <label class="control-label  col-xs-5" for="RepresentativePerson">代表人 <span class="required">:</span>
            </label>
            <div class="col-xs-6">
                <input type="text" id="RepresentativePerson" required="required" #if($bean)value="$bean.RepresentativePerson"#end  name="RepresentativePerson" class="cn-alert-input col-md-7 col-xs-12" data-parsley-id="4639"><ul class="parsley-errors-list" id="parsley-id-3639"></ul>

            </div>
        </div>



        <div class="form-group cn-alert-div">
            <label class="control-label  col-xs-5" for="type">类型 <span class="required">:</span>
            </label>
            <div class="col-xs-6">
                <select id="type"  required="required" name="type" class="cn-alert-select col-xs-7" data-parsley-id="0004">
                    <option value="" >请选择</option>
                    <option value="1" #if($bean.type=="1") selected="selected" #end >施工方</option>
                    <option value="2" #if($bean.type=="2") selected="selected" #end>发包方</option>
                    <option value="3" #if($bean.type=="3") selected="selected" #end>既是接包方也是发包方</option>
                </select>
            </div>
        </div>

        <div class="form-group cn-alert-div">
            <label class="control-label  col-xs-5" for="Remarks">备注 <span class="required">:</span>
            </label>
            <div class="col-xs-6">

                <textarea id="Remarks"  name="Remarks" class=" cn-textarea col-md-7 col-xs-12" data-parsley-id="4639">$!bean.Remarks</textarea>
            </div>
        </div>

        <div class="form-group cn-alert-div">
            <div class=" an-alert-border"></div>
            <div class=" col-xs-12 cn-alert-bottom-btn">

                <button type="submit" id="add" data-url="ajax_add_update_partyB" class="cn-alert-bottom-button ">提交</button>
                <button type="button" id="cancelModal" class="cn-alert-bottom-button">取消</button>
            </div>
        </div>

    </form>

</div>
