$ui.loadCss("userInfo/users.css")
#parse("/uAuth/commonleft.html")

<div class="col-xs-10" style="width: 86.333333%;">
    <form  id="searchForm"  class="" data-url="ajax_dept_query_list">
        <div class="right-users-top col-xs-12">
            <div class="col-xs-2"  style="min-width: 275px;">
                <label>名称：</label>
                <input type="text" name="deptName">
            </div>
            <div  class="col-xs-4" style="min-width:375px;">

                <input type="button" id="QueryBtn" class="green-search-btn" value="搜索">
                <input type="button" class="blue-adduser-btn i_modal"  data-title="添加机构"
                       data-url="_addDeptForm" value="新增机构">
            </div>
        </div>
    </form>

    <div class="col-xs-12 right-users-table">
        <input type="hidden" value="dept" id="ajax_attend">
        <div id="table"></div>
        <div class="col-lg-12 dataTables_paginate text-right  ">
            <ul class="pagination "></ul>
        </div>
    </div>

</div>
