$ui.loadCss("login/editpassword.css")


    <div class="h40"></div>
    <div class="cn-password-main">
        <div><span>修改密码 丨</span><a href="javascript:history.go(-1)">返回</a></div>
        <div class="h110"></div>
        <form id="js_changePassword" data-url="ajax_change_Password">
            <div class="cn-password-content">
            <div class="cn-password-content-items">
                <label>
                <span class="deepRed">* </span>原密码：
                </label>
                <div>
                    <input type="password" class="old-password">
                    <span class="show-old-password">请输入原始密码</span>
                </div>
            </div>

            <div class="cn-password-content-items">
                <label>
                    <span class="deepRed">* </span>新密码：
                </label>
                <div>
                    <input type="password" id="js_check_pwd_strong"  name="new_password" class="js_check_pwd_strong">
                    <span class="cn-check-new-password">不少于6个字符</span>
                </div>
            </div>

            <div class="cn-password-content-items">
                <label>
                   安全级别：
                </label>
                <div class="cn-password-security passwordSecurity" style="">
                    <span class="pwd-low"></span>
                    <span class="pwd-centre"></span>
                    <span class="pwd-high"></span>
                    <div class="show-level" style="display: inline-block;color: #999999;"></div>
                </div>
            </div>

            <div class="cn-password-content-items">
                <label>
                    <span class="deepRed">* </span>密码确认：
                </label>
                <div>
                    <input type="password" class="cn-sure-password js_sure_password">
                    <span class="js_cn_result_password"></span>
                </div>
            </div>

            <div class="cn-password-content-btn">
                <input type="button" class="blue-btn cn-sure-password-btn" value="确定">
                <input type="button" id="resetBtn" class="gray-btn cn-cancel-password-btn" value="取消">
            </div>
        </div>
        </form>
        <div class="h258"></div>
    </div>

    <div class="h200"></div>

    <div class="cn-password-bottom">
        <h5>地址：江苏省溧阳市南大街129号安顺大厦 丨 邮编：213300 丨 电话：0519-87260155 丨传真：0519-87260198</h5>
        <h5> CopyRight &#169; 2015 anshun All Rights Reserved 苏ICP备12038426号-1</h5>
    </div>

<script>
    require(["app/login/editPassword"]);
</script>
