

#parse("/common/left.html")

<div class="col-xs-8">
    <select>
        <option>选项 1</option>
        <option>选项 2</option>
        <option>选项 3</option>
        <option>选项 4</option>
    </select>

</div>

<div class="col-xs-12">
    <select class="">
        <option>选项 1</option>
        <option>选项 2</option>
        <option>选项 3</option>
        <option>选项 4</option>
    </select>
    $ui.loadCss("alert.css")

    <input type="button" value="登记收款" class="btn blue-btn i_modal" data-title="添加角色" data-url="alertTest">
    <input type="button" value="登记收款" class="btn gray-btn i_modal" data-title="添加角色" data-url="alertTest">
    <input type="button" value="登记收款" class="btn green-btn i_modal" data-title="添加角色" data-url="alertTest">

</div>

<div class="h60 col-xs-12"></div>

<div class="col-xs-12">

    <div class="col-xs-6">

           <div class="table-title col-xs-12">
               开票管理
           </div>

           <div class="underline2 col-xs-12"></div>

           <div class="form-group search-content col-xs-12">
               <label class="control-label">开票日期：</label>
               <input type="text"> -- <input type="text">
               <input type="button" class="btn blue-btn" value="筛选">
               <input type="button" class="btn blue-btn" value="登记收款">
           </div>

           <table class="gray-table table-hover">
                   <thead>
                   <th>1</th>
                   <th>2</th>
                   <th>3</th>
                   <th>4</th>
                   <th>5</th>
                   <th>6</th>
                   </thead>
                   <tbody>
                   <tr>
                       <th>1</th>
                       <th>2</th>
                       <th>3</th>
                       <th>4</th>
                       <th>5</th>
                       <th>6</th>
                   </tr>
                   <tr>
                       <th>1</th>
                       <th>2</th>
                       <th>3</th>
                       <th>4</th>
                       <th>5</th>
                       <th>6</th>
                   </tr>
                   </tbody>
                   <tfoot>
                   <th colspan="6">
                       <div class=" col-xs-8 text-left margin-top6">共3条记录 &nbsp;&nbsp; 合计：<span class="red">￥3,650,000.00</span></div>
                       <div class="col-xs-4">
                           <div class="pull-left margin-top6"><a>上一页</a>丨<a>下一页</a>  跳转至</div>
                           <input class="pull-left" type="text" value="16" style="width: 30px;height: 25px;margin-left: 9px;margin-right: 3px;">
                           <div class="pull-left margin-top6">页  共16页</div>
                       </div>
                   </th>
                   </tfoot>

               </table>



    </div>


    <div class="col-xs-6">
        <div class="table-title col-xs-12">
            <div class="pull-left">基本信息</div>
            <div class="pull-right">
                <input type="button" class="btn blue-btn" value="定审">
                <input type="button" class="btn blue-btn" value="编辑">
            </div>
        </div>

        <table class="table2">
            <tbody>
            <tr>
                <th>合同编号</th>
                <th>123456789123</th>

                <th >合同名称</th>
                <th>销售合同主合同a</th>
            </tr>

            <tr>
                <th>合同编号</th>
                <th>123456789123</th>

                <th >合同名称</th>
                <th>销售合同主合同a</th>
            </tr>


            <tr>
                <th>合同编号</th>
                <th>123456789123</th>

                <th >合同名称</th>
                <th>销售合同主合同a</th>
            </tr>


            <tr>
                <th>合同编号</th>
                <th>123456789123</th>

                <th >合同名称</th>
                <th>销售合同主合同a</th>
            </tr>


            <tr>
                <th>合同编号</th>
                <th>123456789123</th>

                <th >合同名称</th>
                <th>销售合同主合同a</th>
            </tr>


            </tbody>

        </table>
    </div>

</div>

<script>
    require(["app/demon/demon"]);
</script>
