.users-css{padding-top: 0px !important;}

.users-list{list-style: none;padding-left: 0px;font-size: 14px;color: #ffffff;text-align: center;}
.users-list a:hover{color: #ffffff;text-decoration: none;}
.ul-title{border-bottom: 3px solid #121E26;height: 50px !important;line-height: 50px !important;font-size: 21px;color: #5C788F; }
.users-list li{height:40px;line-height:40px;width: 100%;margin-bottom: 10px;text-align: left;text-indent: 20px;color: #5C788F;}
.li-hover:hover{background-color: #141E27;border-left: 2px solid #17AAD6;color: #ffffff;}
.users-list-checked{background-color: #141E27;border-left: 2px solid #17AAD6;color: #ffffff !important;}
.green-search-btn{background: #70CA10;color: #ffffff;border: none;width: 92px;height: 32px;margin: 0px 6px;}
.blue-adduser-btn{background: #5192C1;color: #ffffff;border: none;min-width: 92px;height: 32px;margin:0px 6px;padding: 0px 10px;}

.right-users-top{padding-top: 20px;padding-bottom: 20px;margin-left: -15px;}
.right-users-table table tbody tr th a{width: 16%;display: inline-block;}
select{height: 32px;}
ul a {
    color: #ffffff;
    text-decoration: none
}
a{
    cursor: pointer;
}

table.treetable thead tr th {
    text-align: center !important;
}
input[type="checkbox"]{width: 13px!important;}
.multiselect-container{left: 0px;}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td,
.table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid #ddd;
    font-size: 13px;
}