<!--#parse("/saleContract/saleContract_left.html")-->
#parse("/inContract/inContract_chart_left.html")
$ui.loadCss("inContract/inContract_list.css")
$ui.loadCss("saleContract.css")
<div class="col-xs-10 inContract_count" style="width: 86.333333%;margin-top: 12px">
    <div class="inContract_list_content col-xs-12  ">
        <form class="inContract_list_content_form inContract_form  col-xs-12">
            <div class="content1">
                <label for=""><span class="in_font">签订时间:</span></label><input type="text" placeholder=" 开始时间" class="Wdate"
                                                               name="beginTime" value="$!beginTime">
                <label for="">&nbsp;<span class="midline">--</span>&nbsp;</label><input type="text" placeholder="结束时间"
                                                                                        class="Wdate" name="endTime" value="$!endTime"/>
            </div>
            <div class="content2">
                <label for="partyB"><span class="in_font">乙方名称：</span></label>
                <select name="partyBId" id="partyB" style="height: 32px">
                    <option value="">全部</option>
                    #if($secondList)
                    #foreach($second in $secondList)
                    <option value="$second.id">$second.name</option>
                    #end
                    #end
                </select>
            </div>
            <button class="btn green-btn left-space" id="select_inContract_list" type="button"
                    data-url="ajax_query_inContract_page" style="">筛选
            </button>
        </form>
    </div>
    <div class="col-xs-12" style="padding: 15px;">
        <div class="row">
    <button class=" blue-btn left-space excel" id="downloadInContract" style="background-color:#70CA10;border: none;"> <em class="iconfont" style="font-size: 23px;margin-right: 5px">&#xe62f;</em>导出列表</button>

    <div class="table col-xs-12" style="padding: 0px;">

    </div>
    <div class="col-xs-12 dataTables_paginate  " style="text-align: right;">
        <ul class="pagination " style="margin-top:4px!important;"></ul>
    </div>
        </div>
    </div>
</div>
<script>
    require(['app/inContract/inContract_count_list']);
    require(['app/saleContract/dataReports_public']);
</script>
